AnchorPane{
    -fx-background-color: transparent;
}
.controlsContainer{
    -fx-background-color: rgba(34,34,65,0.7);
}
.button
{
    -fx-background-color : #263238;
    -fx-text-fill : #e7e5e5;
}
.button:hover{
    -fx-background-color : #102027;
}
.button:pressed
{
    -fx-background-color : #102027;
}
TextField, PasswordField{
    -fx-background-color: #1c3a47;
    -fx-background-radius: 20;
    -fx-border-radius: 20;
    -fx-border-color: #ffffff;
    -fx-border-width: 1px;
    -fx-text-fill: #ffffff;

}
#closeButton{
    -fx-cursor: hand;
}



.tab-pane .tab-header-area .tab-header-background {
    -fx-opacity: 0;
}

.tab-pane
{
    -fx-tab-min-width:90px;
}

.tab{
    -fx-background-insets: 0 1 0 1,0,0;
}
.tab-pane .tab
{
    -fx-background-color: rgba(34,34,65,0.5);
}

.tab-pane .tab:selected
{
    -fx-background-color: rgba(34,34,65,0.7);
}

.tab .tab-label {
    -fx-alignment: CENTER;
    -fx-text-fill: #ffffff;
    -fx-font-size: 12px;
    -fx-font-weight: bold;
}

.tab:selected .tab-label {
    -fx-alignment: CENTER;
}

.progress-bar {
    -fx-background-color: #000000;
    -fx-background-radius: 10, 10, 10, 10;
    -fx-padding: 0;
    -fx-border-width: 1px;
    -fx-border-color: #fef25d;
    -fx-border-radius: 20;
}

.progress-bar .track{
    -fx-background-insets: 20;
    -fx-background-radius: 6, 6, 6, 6;
}

.progress-bar .bar {
    -fx-background-color: #ffe160;
    -fx-background-radius: 12;
}

#statusLabel{
    -fx-text-fill: #ffffff;
}

.slider .axis{
    -fx-tick-label-fill: white;
}


.combo-box{
    -fx-background-color : #263238;
    -fx-text-fill : #e7e5e5;
    -fx-border-color: #4f4f4f;
    -fx-border-width: 1px;
}
.combo-box *{
    -fx-text-fill : #e7e5e5;
}
.combo-box .check-box-list-cell{
    -fx-background-color : #263238;
    -fx-text-fill : #e7e5e5;
    -fx-border-width: 0 0 1px 0;
    -fx-border-color: #4f4f4f;
}
.combo-box .check-box-list-cell:hover{
    -fx-background-color : #11171c;
    -fx-text-fill : #e7e5e5;
}